// font
$late-font: #362f2d;
$head-font: #362f2d;
$body-font: #5e5e5e;
$subhead-font:#524741;

$blue: #2187FF;
$yellow: #F7B518;
$orange: #e15704;
$line: #dcdcdc;

$footer: #eaeaeb;

$main-title: 'Montserrat', sans-serif;


$breakpoint-m: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

// rem
$five: .36rem;
$ten: .71rem;
$fifteen: 1.07rem;
$sixteen: 16 1.14rem;
$eighteen: 1.29rem;
$twenity: 1.42rem;

$thirty: 2.14rem;
$thirtytwo: 2.29rem;
$thirtysix: 2.57rem;

$forty: 2.86rem;
$fortyfive: 3.21rem;

$fifty: 3.57rem;
$sixty: 4.29rem;
$hundred: 7.14rem;

$sevenhundred: 50rem;